$bg: #15161E;
$background: #474D59;
$surface: #282C34;

$text: #c0caf5;
$muted: #a9b1d6;

$primary: #ef596f;
$secondary: #6BB2C0;
$accent: #9ece6a;
$highlight: #e0af68;

$cpu: #f7768e;
$memory: #9ece6a;
$brightness: #e0af68;
$battery: #7aa2f7;

$clock: #7dcfff;
$uptime_icon: #bb9af7;

$music_title: #6BB2C0;
$music_artist: #e0af68;
$music_progress: #bb9af7;

$weather_icon: #7dcfff;
$weather_temp: #7dcfff;
$weather_status: #f7768e;

$github: #24292E;
$reddit: #E46231;
$twitter: #61AAD6;
$youtube: #DF584E;
$mail_bg: #FFFFFF;
$mail_icon: #DF584E;

$logout: #f7768e;
$sleep: #9ece6a;
$reboot: #e0af68;
$poweroff: #7aa2f7;

$storage_icon: #7dcfff;
$separator: #15161E;

$folder1: #f7768e;
$folder2: #9ece6a;
$folder3: #e0af68;
$folder4: #7dcfff;
$folder5: #bb9af7;
$folder6: #7aa2f7;

$icon_primary: #FFFFFF;